/* Fonts */

@font-face {
    font-family: Chivo-Bold;
    src: url(Chivo-Bold.woff);
}

@font-face {
    font-family: Chivo-Regular;
    src: url(Chivo-Regular.woff);
}

@font-face {
    font-family: EncodeSans-Bold;
    src: url(EncodeSans-Bold.ttf);
}

.creg {
    font-family: "Chivo-Regular";
}

.cbold {
    font-family: "Chivo-Bold";
}

.enbold {
    font-family: "EncodeSans-Bold";
}

/* Navigation */ 

.navcol {
    background-color: #FFC703;
  }

.navtext {
    color: #023831;
    font-family: "Chivo-Bold";
}

.navi {
    margin-left: 15px;
}

.nav-btn {
    background-color: #023831;
    margin-right: 2vw;
    border-radius: 5px;
}

.navtext-active {
    color: white;
}

.nav-img {
    margin-top: 10px;
}

/* Content Formatting */

.backcol {
    background-color: #023831;
}

.altbackcol {
    background-color: #011d19;
}

.uncontainer {
    margin-left: -231px;
    margin-right: -227px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.l-container {
    margin-left: -158px;
}

.r-container {
    margin-right: -227px;
}

.img1 {
    margin-top: 116px;
}

.img2 {
    margin-top: 50px;
    margin-bottom: -30px;
}

/* Custom */

.c-circle {
    border-radius: 50%;
    border: 5px solid #FFF;
}

/* Footer Content */

.footer-r {
    margin-right: -200px;
}

/* Colors */

.cusYellow {
    color: #FFC703;
}

.cusGreen {
    color: #023831;
}

.cusDarkGreen {
    color: #011d19;
}