{% extends "admin-layout.html" %}
{% block title %}Admin | KentuckyFarmControl{% endblock %}
{% block page %}<img class="z-index-5 nav-img" src="{{ url_for('static', filename='worm_green_trans.png') }}" height="50px" width="70px" alt="EarthWorm Inc. Logo">{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <div class="">
            <div class="col s3 bgY center">
                <img class="z-index-5 nav-img" src="{{ url_for('static', filename='imgs/worm_green_trans.png') }}" height="50px" width="70px" alt="EarthWorm Inc. Logo">
                <ul style="border: 0px;" class="collection">
                    <li style="background-color: #FFC703;" class="collection-item cbold"><a class="cusGreen" href="">Dashboard</a></li>
                    <li style="background-color: #FFC703;" class="collection-item cbold"><a class="cusGreen" href="">Inventory</a></li>
                    <li style="background-color: #FFC703;" class="collection-item cbold"><a class="cusGreen" href=""><span class="badge">Beta</span>Logistics</a></li>
                    <li style="background-color: #FFC703;" class="collection-item cbold"><a class="cusGreen" href=""><span class="badge">Beta</span>Smart Farm</a></li>
                    <li style="background-color: #FFC703;" class="collection-item cbold"><a class="cusGreen" href=""><span class="badge">Beta</span>Finances</a></li>
                    <li style="background-color: #FFC703;" class="collection-item cbold"><a class="cusGreen" href="">Settings</a></li>
                </ul>
            </div>
            <div class="col s9">
                <nav class="purple">
                    <div class="nav-wrapper navcol">
                      <a href="#!" class="brand-logo center"></a>
                      <div class="nav-wrapper">
                            <ul id="nav-mobile" class="left navi">
                              
                            </ul>
                            <ul class="right">
                                <img class="circle responsive-img r-container" src="{{ url_for('static', filename='imgs/worm_green_trans.png') }}" height="75" width="75" alt="">
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
