{% extends "lr-layout.html" %}
{% block title %}Login | HelpingHands{% endblock %}
{% block page %}<img class="z-index-5 nav-img" src="{{ url_for('static', filename='imgs/worm_green_trans.png') }}" height="50px" width="70px" alt="EarthWorm Inc. Logo">{% endblock %}

{{ super() }}

{% block content %}
<div class="signinform center">
    <div class="center">
        <br>
        <br>
        <img src="{{ url_for('static', filename='imgs/solidarity.png') }}" height="90px" width="90px" alt="">
        <h1 class="enbold">HelpingHands Book Drive</h1>
    </div>
    <!-- main content -->
    <div class="w3l-form-info">
        <div class="w3_info">
            <h2>Login</h2>
            <form action="{{ url_for('home') }}" method="POST">

                <div class="form-group input-group">
                    <span><i class="fas fa-user" aria-hidden="true"></i></span>
                    <input type="text" name="username" placeholder="Username" required="">
                </div>
                <div class="input-group">
                    <span><i class="fas fa-key" aria-hidden="true"></i></span>
                    <input type="Password" name="password" placeholder="Password" required="">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
    <!-- //main content -->
</div>
{% endblock %}
