<!doctype html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='frontend.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Import FontAwesome Fonts -->
    <script src="https://kit.fontawesome.com/9603da10a6.js" crossorigin="anonymous"></script>
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="backcol">
    <nav class="purple">
      <div class="nav-wrapper navcol">
        <a href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left navi">
                <li><a href="/" class="navtext">Home</a></li>
                <li><a href="#product" class="navtext">Product</a></li>
                <li><a href="#services" class="navtext">Services</a></li>
                <li><a href="#pricing" class="navtext">Pricing</a></li>
            </ul>
            <ul class="right">
              <button style="background-color: #023831; border-radius: 5px;" class="nav-btn btn enbold"><a href="/login">Sign In</a></button>
            </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}

    <div class="container white-text" id="content">{% block content %}{% endblock %}</div>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <footer class="navcol">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <p class="cbold cusGreen uncontainer l-container">&copy; 2022 EarthWorm Inc. All Rights Reserved.</p>
          </div>
          <div class="col l4 s12 center">
            <img class="z-index-5 nav-img" src="{{ url_for('static', filename='imgs/worm_green_trans.png') }}" height="35px" width="50px" alt="EarthWorm Inc. Logo">
          </div>
          <div class="col l4 s12 uncontainer right">
            <a class="cbold cusGreen" href="">Privacy Policy</a>
            <a class="cbold cusGreen navi" href="">Terms of Service</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>