{% extends "logreg-layout.html" %}
{% block title %}Login | KentuckyFarmControl{% endblock %}
{% block page %}<img class="z-index-5 nav-img" src="{{ url_for('static', filename='imgs/worm_green_trans.png') }}" height="50px" width="70px" alt="EarthWorm Inc. Logo">{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <div class="col l5 s12">
            <div class="l-container">
                <br style="margin-top: 40px;">
                <img class="img2" src="{{ url_for('static', filename='imgs/Ginger.svg') }}" height="120" width="120" alt="">
                <h2 class="white-text cbold">Explore <br> KentuckyFarmControl</h2>
                <p class="cusYellow">We're the ones who bit that piece out of Apple</p>
                <br>
                <div class="row">
                    <div class="col s7">
                        <button style="background-color: #FFC703;" class="btn enbold waves-effect waves-light btn-large"><a class="cusGreen" href="login.html">Get Started</a></button>
                    </div>
                    <div class="col s5">
                        <img class="img2 right" src="{{ url_for('static', filename='imgs/Onion.svg') }}" height="130" width="130" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 offset-l2 s12">
            <div class="img1">
                <img src="{{ url_for('static', filename='imgs/img_1.png') }}" height="430px" width="625px" alt="">
            </div>
        </div>
    </div>
    <br style="margin-bottom: 50px;">
    <div id="product" class="altbackcol uncontainer">
        <div class="container">
            <br>
           <div class="row">
               <div class="col l4 s12">
                   <p>Image</p>
               </div>
               <div class="col l5 offset-l2 s12">
                   <img class="right r-container" src="{{ url_for('static', filename='imgs/Pear.svg') }}" height="130px" width="125px" alt="Pear">
                   <br style="margin-bottom: 50px;">
                   <h1>How We Work</h1>
                   <h5 class="creg r-container">Kentucky Farm Control is a farm management system that allows users to monitor and store their crop yield, livestock, chemicals, and equipment owned and produced by the farm. This places the farmer at an extreme advantage as he can manage his farm and assets, even when he is not in the field, creating an even more productive and efficient farm.</h5>
               </div>
           </div>
           <br>
           <br>
        </div>
    </div>
    <div class="uncontainer">
        <div id="services" class="container stacks">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col s4">
                    <div class="center">
                        <img class="c-circle responsive-img" src="{{ url_for('static', filename='imgs/_1.png') }}" alt="chicken" height="120" width="120">
                        <br>
                        <h4 class="enbold">LiveStock Tracking</h4>
                        <p class="creg">Track and monitor the population of your livestock as you sell, breed and buy your animals.</p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="center">
                        <img class="c-circle responsive-img" src="{{ url_for('static', filename='imgs/_2.png') }}" alt="" height="125" width="125">
                        <br>
                        <h4 class="enbold">Crop Tracking</h4>
                        <p class="creg">Track and monitor the amount of crops you have as you sell, grow and harvest your crops.</p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="center">
                        <img class="c-circle responsive-img" src="{{ url_for('static', filename='imgs/_1.png') }}" alt="" height="120" width="120">
                        <br>
                        <h4 class="enbold">Smart Irrigation</h4>
                        <p class="creg">Automate and manage the watering of your crops.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="center">
                        <img class="c-circle responsive-img" src="{{ url_for('static', filename='imgs/_1.png') }}" alt="" height="120" width="120">
                        <br>
                        <h4 class="enbold">Chemical Tracking</h4>
                        <p class="creg">Track the use of fertilizers and pesticides on your crops and plantations.</p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="center">
                        <img class="c-circle responsive-img" src="{{ url_for('static', filename='imgs/_1.png') }}" alt="" height="120" width="120">
                        <br>
                        <h4 class="enbold">Equipment Management</h4>
                        <p class="creg">Manage your farm's mechanical equipment and tools inventory.</p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="center">
                        <img class="c-circle responsive-img" src="{{ url_for('static', filename='imgs/_1.png') }}" alt="" height="120" width="120">
                        <br>
                        <h4 class="enbold">Logistics</h4>
                        <p class="creg">Manage your farm's business affairs. Pay your workers, send invoices, get paid, fulfil purchase orders, invoices,  and manage wholesale, retail and market trips.</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="altbackcol uncontainer">
        <div class="container">
            <br>
            <div class="row">
                <div class="col l6 s12">
                    <h2 class="enbold">Become a part of our community</h2>
                </div>
                <div class="col l4 s12">
                    <br>
                    <br>
                    <div class="row">
                        <div class="col s6">
                            <p>.</p>
                        </div>
                        <div class="col s2">
                            <div class="center">
                                <i class="fa-brands fa-facebook fa-2xl"></i>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="center">
                                <i class="fa-brands fa-reddit-alien fa-2xl"></i>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="center">
                                <i class="fa-brands fa-discord"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <p>.</p>
                        </div>
                        <div class="col s2">
                            <div class="center">
                                <i class="fa-brands fa-instagram fa-2xl"></i>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="center">
                                <i class="fa-brands fa-youtube fa-2xl"></i>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="center">
                                <i class="fa-brands fa-twitter fa-2xl"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}
